h1{
    text-align: center;
}

.pro{
    width: 200px;
    height: 120px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.profi{
    width: 200px;
    height: 190px;
}

.kool{
    width: 200px;
    height: 190px;
}
